@import 'https://fonts.googleapis.com/css2?family=Caveat&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap';
* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #EEEEEE;
  color: #444;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Heebo, sans-serif;
  font-weight: 400;
  line-height: 1;
}

input[type=text] {
  appearance: none;
  border-radius: 0.3rem;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1rem;
  color: #444;
}
input[type=text]::placeholder {
  color: #999;
}

select {
  appearance: none;
  border-radius: 0.3rem;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1rem;
  padding-right: 2em;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  color: #444;
}
select:invalid {
  color: #999;
}

input[type=checkbox] {
  cursor: pointer;
}

.card {
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: #FFFFFF;
}

.hidden {
  display: none !important;
}

button, .button, .listing .fields .field button[type=submit], .listing .image-field label[for=file] {
  border: none;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  color: #FFFFFF;
  line-height: 1.7;
  text-decoration: none;
  background-color: #999;
  border-radius: 0.3rem;
  cursor: pointer;
}
button.primary, .button.primary, .listing .fields .field button.primary[type=submit], .listing .image-field label.primary[for=file] {
  background-color: #FD685D;
  color: #FFFFFF;
}
button.hint, .button.hint, .listing .fields .field button.hint[type=submit], .listing .image-field label.hint[for=file] {
  background-color: #FFFFFF;
  outline: 1px solid #CCC;
}
button:hover, .button:hover, .listing .fields .field button[type=submit]:hover, .listing .image-field label[for=file]:hover {
  background-color: #8CF7FE;
}
button:active, .button:active, .listing .fields .field button[type=submit]:active, .listing .image-field label[for=file]:active {
  background-color: #59f3fe;
}
button:disabled, .button:disabled, .listing .fields .field button[type=submit]:disabled, .listing .image-field label[for=file]:disabled {
  background-color: #999;
  cursor: auto;
}

.field label {
  display: block;
  font-size: 0.8rem;
  color: #999;
}

.tag {
  display: inline-flex;
  padding: 0.2rem 0.4rem;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 0.6rem;
  background-color: #FE938C;
  border-radius: 0.3rem;
  flex-direction: row;
  align-items: stretch;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.hackBanner {
  background-color: #FFE3E9;
  padding: 1rem 2rem;
  text-align: center;
}

.navbar {
  border-bottom: 4px solid;
  border-color: #FE938C;
  display: flex;
  height: 3rem;
  padding: 0 1rem;
  background-color: #FFFFFF;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .site-logo {
  display: block;
  font-size: 1.5rem;
  font-family: Heebo, sans-serif;
  color: #FE938C;
  text-decoration: none;
}
.navbar .site-controls a {
  text-decoration: none;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.site-footer {
  display: flex;
  padding: 0.7rem 1rem;
  font-size: 0.6rem;
  background-color: #FFFFFF;
  overflow: scroll;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.site-footer img {
  display: block;
  height: 1.5rem;
}
.site-footer .links a {
  margin-left: 1rem;
  color: #999;
  text-decoration: none;
  white-space: nowrap;
}

.listing {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  background-color: #FFFFFF;
}
@media (min-width: 651px) {
  .listing {
    flex-direction: row;
  }
}
.listing .image-field {
  display: flex;
  position: relative;
  min-height: 50vh;
  flex-grow: 1;
  border-bottom: 4px solid #FE938C;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listing .image-field i {
  margin-bottom: 1rem;
  font-size: 7rem;
}
.listing .image-field input[type=file] {
  display: none;
}
.listing .image-field label[for=file] {
  background-color: #FD685D;
  color: #FFFFFF;
  cursor: pointer;
}
.listing .image-field label[for=file].change {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.listing .image-field img.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.listing .fields {
  width: 30rem;
  max-width: 100vw;
  padding: 1rem;
  border-bottom: 4px solid #FE938C;
}
.listing .fields p {
  margin-top: 0;
}
.listing .fields .pill {
  margin-top: 1rem;
  margin-right: 1rem;
}
.listing .fields .pill:last-child {
  margin-right: 0;
}
.listing .fields .field {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}
.listing .fields .field:last-child {
  margin-bottom: 0rem;
}
.listing .fields .field.delivery {
  flex-direction: row;
}
.listing .fields #delete {
  margin-top: 3rem;
}

.overlay {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.overlay p {
  font-size: 1.6rem;
}
.overlay .button:not(:last-child), .overlay .listing .image-field label[for=file]:not(:last-child), .listing .image-field .overlay label[for=file]:not(:last-child), .overlay .listing .fields .field button[type=submit]:not(:last-child), .listing .fields .field .overlay button[type=submit]:not(:last-child) {
  margin-right: 1rem;
}

/*# sourceMappingURL=listing.css.map */
