@import 'https://fonts.googleapis.com/css2?family=Caveat&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap';
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #444;
  line-height: 1.7;
  font-family: Heebo, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Caveat, sans-serif;
  font-weight: 400;
}

label {
  font-size: 0.9em;
  color: #999;
}

input[type=text] {
  appearance: none;
  border-radius: 0.3rem;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1rem;
  color: #444;
}
input[type=text]::placeholder {
  color: #999;
}

select {
  appearance: none;
  border-radius: 0.3rem;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1rem;
  padding-right: 2em;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  color: #444;
}
select:invalid {
  color: #999;
}

input[type=checkbox] {
  cursor: pointer;
}

.card {
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: #FFFFFF;
}

.hidden {
  display: none !important;
}

.button, main .listing .fields .field button[type=submit], main .listing .image-field label[for=file] {
  display: inline-block;
  border: none;
  padding: 0.3rem 0.8rem;
  line-height: 1.7;
  border-radius: 0.3rem;
  color: #444;
  text-decoration: none;
  cursor: pointer;
}
.button.primary, main .listing .fields .field button.primary[type=submit], main .listing .image-field label.primary[for=file] {
  background-color: #FD685D;
  color: #FFFFFF;
}
.button.hint, main .listing .fields .field button.hint[type=submit], main .listing .image-field label.hint[for=file] {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
}
.button:hover, main .listing .fields .field button[type=submit]:hover, main .listing .image-field label[for=file]:hover {
  background-color: #8CF7FE;
}
.button:active, main .listing .fields .field button[type=submit]:active, main .listing .image-field label[for=file]:active {
  background-color: #59f3fe;
}
.button:disabled, main .listing .fields .field button[type=submit]:disabled, main .listing .image-field label[for=file]:disabled {
  background-color: #999;
  cursor: auto;
}

.pill {
  display: inline-flex;
  padding: 0.2rem 0.6rem;
  flex-direction: row;
  align-items: stretch;
  border-radius: 0.3rem;
  background-color: #EEEEEE;
}
.pill label {
  display: flex;
  padding-right: 0.4rem;
  align-items: center;
}

.navbar {
  display: flex;
  height: 3rem;
  border-bottom: 4px solid;
  border-color: #FE938C;
  padding: 0 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .site-logo {
  display: block;
  font-size: 1.5rem;
  font-family: Caveat, sans-serif;
  color: #FE938C;
  text-decoration: none;
}

main .listing {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (min-width: 650px) {
  main .listing {
    padding: 1rem;
  }
}
@media (min-width: 650px) {
  main .listing {
    flex-direction: row;
  }
}
main .listing #delete {
  margin-top: 1rem;
}
main .listing .image-field {
  position: relative;
  display: flex;
  border-bottom: 4px solid;
  border-color: #FE938C;
  height: 50vh;
  overflow: hidden;
  background-color: #EEEEEE;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 650px) {
  main .listing .image-field {
    margin-right: 1rem;
  }
}
@media (min-width: 650px) {
  main .listing .image-field {
    height: auto;
    width: 30rem;
    border-radius: 0.3rem;
  }
}
main .listing .image-field i {
  margin-bottom: 1rem;
  font-size: 7rem;
}
main .listing .image-field label[for=file] {
  background-color: #FD685D;
  color: #FFFFFF;
  cursor: pointer;
}
main .listing .image-field label[for=file].change {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}
main .listing .image-field input[type=file] {
  display: none;
}
main .listing .image-field img.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .listing .fields {
  padding: 1rem;
  flex-grow: 1;
}
main .listing .fields .description {
  margin-top: 0;
}
main .listing .fields .pill:not(:last-child) {
  margin-right: 1rem;
}
main .listing .fields .field {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}
main .listing .fields .field:last-child {
  margin-bottom: 0rem;
}
main .listing .fields .field.delivery {
  flex-direction: row;
}
main .listing .fields .field input[type=radio] {
  display: none;
}
main .listing .fields .field input[type=radio]:checked + .button, main .listing .fields .field input[type=radio]:checked + button[type=submit], main .listing .fields .field .image-field input[type=radio]:checked + label[for=file], main .listing .image-field .fields .field input[type=radio]:checked + label[for=file] {
  background-color: #8CF7FE;
}
main .listing .fields .field p {
  margin: 0;
}

/*# sourceMappingURL=listing.css.map */
