@import 'https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap';
* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  color: #444;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  background-color: #DDD;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Heebo, sans-serif;
  font-weight: 400;
  line-height: 1;
}

button, .button {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  color: #444;
  text-align: center;
  text-decoration: none;
  line-height: inherit;
  background-color: #FFF;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: 1px solid #CCC;
}
button:hover, .button:hover {
  background-color: #fe978f;
}
button:active, .button:active {
  background-color: #fc392b;
}
button.primary, .button.primary {
  color: #FFF;
  background-color: #FD685D;
  outline: none;
}
button:disabled, .button:disabled {
  background-color: #DDD;
  cursor: auto;
}

input[type=text] {
  padding: 0.5rem 1rem;
  color: #444;
  appearance: none;
  border: 1px solid #CCC;
  border-radius: 0.3rem;
}
input[type=text]::placeholder {
  color: #888;
}

select {
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: #444;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 0.7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 0.65em auto, 100%;
  border: 1px solid #CCC;
  border-radius: 0.3rem;
}
select:invalid {
  color: #888;
}

input[type=checkbox] {
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
}
.field label {
  display: block;
  color: #888;
  font-size: 0.85rem;
}

.tag {
  display: inline-flex;
  padding: 0.2em 0.6em;
  vertical-align: middle;
  color: #444;
  font-size: 0.7rem;
  background-color: #DDD;
  border-radius: 0.3rem;
  flex-direction: row;
  align-items: stretch;
}
.tag label {
  margin-right: 0.4em;
  color: #888;
  font-size: inherit;
}

.card {
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: #FFF;
}

.page {
  align-self: center;
  padding: 1rem;
  background-color: #FFF;
}
@media (min-width: 651px) {
  .page {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
  }
}
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.page img {
  max-width: 100%;
}
.page figcaption {
  color: #888;
  font-size: 0.7rem;
  text-align: center;
}
.page ol {
  list-style-type: none;
}
.page ol:first-of-type {
  counter-reset: item;
}
.page ol.reset {
  counter-reset: item;
}
.page ol li {
  position: relative;
  counter-increment: item;
}
.page ol li:before {
  position: absolute;
  right: 100%;
  margin-right: 0.5em;
  content: counters(item, ".") ". ";
}
.page ol li[counter] {
  counter-increment: item 0;
}
.page ol li[counter]:before {
  content: attr(counter);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.hidden {
  display: none !important;
}

.hackBanner {
  background-color: #E7EFFC;
  padding: 1rem 2rem;
  text-align: center;
}

.navbar {
  border-bottom: 4px solid;
  border-color: #FE7968;
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  background-color: #FFF;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .site-logo {
  display: block;
  color: #444;
  font-family: Kalam, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}
.navbar .site-logo .free {
  color: #FE7968;
}
.navbar .site-controls a {
  color: #444;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 400;
}
.navbar .site-controls a:hover {
  color: #FD685D;
}
.navbar .site-controls i {
  color: #444;
  text-decoration: none;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.site-footer {
  display: flex;
  padding: 0.7rem 1rem;
  font-size: 0.7rem;
  background-color: #FFF;
  overflow: scroll;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.site-footer img {
  display: block;
  height: 1.5rem;
}
.site-footer .links a {
  margin-left: 1rem;
  color: #888;
  text-decoration: none;
  white-space: nowrap;
}

.legal h1, .legal h2, .legal h3, .legal h4, .legal h5, .legal h6, .legal p {
  font-family: Heebo, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=privacy.css.map */
