@import 'https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap';
* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #EEEEEE;
  color: #444;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Heebo, sans-serif;
  font-weight: 400;
  line-height: 1;
}

input[type=text] {
  appearance: none;
  border-radius: 0.3rem;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1rem;
  color: #444;
}
input[type=text]::placeholder {
  color: #999;
}

select {
  appearance: none;
  border-radius: 0.3rem;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1rem;
  padding-right: 2em;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  color: #444;
}
select:invalid {
  color: #999;
}

input[type=checkbox] {
  cursor: pointer;
}

.card {
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: #FFFFFF;
}

.hidden {
  display: none !important;
}

button, .button {
  border: none;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  color: #444;
  line-height: 1.7;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: 1px solid #CCC;
}
button.primary, .button.primary {
  outline: none;
  background-color: #FD685D;
  color: #FFFFFF;
}
button.hint, .button.hint {
  background-color: #FFFFFF;
  outline: 1px solid #CCC;
}
button:hover, .button:hover {
  background-color: #8CF7FE;
}
button:active, .button:active {
  background-color: #59f3fe;
}
button:disabled, .button:disabled {
  background-color: #999;
  cursor: auto;
}

.field {
  display: flex;
  flex-direction: column;
}
.field label {
  display: block;
  font-size: 0.85rem;
  color: #999;
}

.tag {
  display: inline-flex;
  padding: 0.2rem 0.6rem;
  vertical-align: middle;
  color: #444;
  font-size: 0.7rem;
  background-color: #EEEEEE;
  border-radius: 0.3rem;
  flex-direction: row;
  align-items: stretch;
}
.tag label {
  margin-right: 0.4em;
  color: #999;
  font-size: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.hackBanner {
  background-color: #FFE3E9;
  padding: 1rem 2rem;
  text-align: center;
}

.navbar {
  border-bottom: 4px solid;
  border-color: #FE7968;
  display: flex;
  height: 3rem;
  padding: 0 1rem;
  background-color: #FFFFFF;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .site-logo {
  display: block;
  color: #444;
  font-family: Kalam, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}
.navbar .site-logo .free {
  color: #FE7968;
}
.navbar .site-controls a {
  margin-left: 1rem;
}
.navbar .site-controls i {
  color: #444;
  text-decoration: none;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.site-footer {
  display: flex;
  padding: 0.7rem 1rem;
  font-size: 0.7rem;
  background-color: #FFFFFF;
  overflow: scroll;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.site-footer img {
  display: block;
  height: 1.5rem;
}
.site-footer .links a {
  margin-left: 1rem;
  color: #999;
  text-decoration: none;
  white-space: nowrap;
}

.legal h1, .legal h2, .legal h3, .legal h4, .legal h5, .legal h6, .legal p {
  font-family: Heebo, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  background-color: white;
  padding: 1rem;
}
@media (min-width: 651px) {
  .container {
    padding: 3rem;
  }
}

/*# sourceMappingURL=terms.css.map */
