extends base.pug

block append vars
  - var stylesheet='/about.css'

block main

  .page

    img(src="about.svg")
    figcaption #[a(href="https://www.freepik.com/free-vector/people-donate-clothes-charity-swap_24127121.htm#page=2&query=Donation%20flat&position=41&from_view=search&track=sph") Image by upklyak] on Freepik

    h1 About us
    p We all have that box of things we never use. Items we saved for that perfect moment that never came. Sometimes we outgrow the things we love, or no longer need the things we once wanted.
    p Freestuff is a platform for those of us whose instinct to hoard or throw can come easier than to give. We hope to provide a fuss-free experience where your good quality items can find a new forever home, for free.
    p This is your online space without judgment. We will ensure that those who need the items most, can get the first dibs. But if no one needs it and someone wants it, let them have it. And if no one needs it nor wants it, you can dispose of it guilt-free. 
    p Overtime we hope that Freestuff can help break the cycle of commercial waste and excess. We see this as a small step towards a more equal and compassionate Singapore, where the gap between the haves and have nots is narrowed.

    h2 Who are we
    p We are a team of public officers from Open Government Products (OGP) deeply committed to building a more equal society. We hope that Freestuff will help you to take that first step with us. Discover a marketplace to give and take, freely. The only currency here is compassion. Contact us at #[a(href="mailto:freestuff@open.gov.sg") freestuff@open.gov.sg] with any questions, comments, complaints or suggestions.
    
    h2 Frequently Asked Questions

    h3 What is Hackathon?
    p Hack for Public Good is an annual fixture of OGP's way of work to keep us identifying and working on building tech to deliver public good. Read more about it #[a(href="https://hack.gov.sg/") here].

    h3 What does it mean for Freestuff to be a Prototype?
    p As a prototype, Freestuff represents a minimum viable product (MVP) with only the critical functions. With your support and interest, we hope that this prototype built as part of OGP's Hack for Public Good 2023 can become a long-term reality with additional features. 

    h3 Why must I use sgID and SingPass?
    p This enables users to register quickly but securely, and be reassured that they are interacting with real people on the other side.
    p sgID employs end-to-end encryption, and does not store any of your data that passes through our servers. We are not tracking what you give or take here. Even in the case of a data breach, your data will never be compromised because it remains safely on your phone, in your control.

    h3 What about delivery?
    p We understand that the logistics of give-and-take can be challenging. As we further develop this platform we hope to offer sensible delivery options to support our moneyless marketplace. In the meantime, we request that you make your own arrangements to give or take any items listed on Freestuff.
    p If you are a logistics company interested in collaborating with Freestuff, please contact us at #[a(href="mailto:freestuff@open.gov.sg") freestuff@open.gov.sg] to discuss options.
