extends base.pug

block append vars
  - var stylesheet='/account.css'
  - var script='/account.js'

block main
  .container
    
    h1.title Account information

    p.block= JSON.stringify(user)

    form(action="logout" method="POST")
      .field
        .control
          button.button.is-light(type="submit") Logout
