extends base.pug

block append vars
  - var stylesheet='/index.css'
  - var script='/index.js'

block main
  section.hero
    .hero-body.has-text-centered
        h1.title Freestuff
        .subtitle Clear clutter. Help people.
        a.button.primary(href="/listing") List an item
  section.listings
    each listing in listings
      article.listing
        img(src=listing.imageURL)
        footer
          p.description= listing.description
          small.meta
            .location
              i.fas.fa-location-dot
              |  
              =listing.location
            time(datetime='2016-1-1')=listing.timestamp
  