extends base.pug

block append vars
  - var stylesheet='/listing.css'
  - var script='/listing.js'

block main
  //- img.preview(src="https://via.placeholder.com/150")
  form(action="listing" method="POST" enctype="multipart/form-data")
    .image-field 
      i.fa-solid.fa-image
      label(for="file") Add a photo
      input(type='file' id="file" name="file" accept="image/png, image/jpeg")
      img.preview.hidden(src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==")
      label.change.hidden(for="file") Change photo
    .fields
      .field
        label(for="category") Category 
        select#category(name='category')
          option(value='clothes') Clothes
          option(value='furniture') Furniture
          option(value='appliances') Appliances
          option(value='toys') Toys &amp; Games
          option(value='tools') Tools

      .field

        label(for="location") Location 
        select#location(name='location')
          option(value='ang moh kio') Ang Moh Kio
          option(value='bukit timah') Bukit Timah
          option(value='orchard') Orchard
          option(value='jurong') Jurong
          option(value='woodlands') Woodlands

      .field.delivery
        input#pick-up(type='radio' name='pickup' value='pick up')
        label.button(for='pick-up') Pickup
        input#donate(type='radio' name='pickup' value='donate')
        label.button(for='donate') Donate
        input#drop-off(type='radio' name='pickup' value='drop off')
        label.button(for='drop-off') Drop off

      .field
        label(for="contact") Contact Information
        input(id="contact" name="contact" type="text")
      .field
        label(for="description") Description
        input(id="description" name="description" type="text")
      .field
        button.primary(type="submit") List item
