extends base.pug

block append vars
  - var stylesheet='/listing.css'
  - var script='/listing.js'

block main
  //- img.preview(src="https://via.placeholder.com/150")
  form(action="listing" method="POST" enctype="multipart/form-data")
    .image-field 
      i.fa-solid.fa-image
      label(for="file") Add a photo
      input(type='file' id="file" name="file" accept="image/png, image/jpeg")
      img.preview.hidden(src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==")
      label.change.hidden(for="file") Change photo
    .fields
      .field
        label(for="category") Category
        input(id="category" name="category" type="text")
      .field
        label(for="location") Location
        input(id="location" name="location" type="text")
      .field
        label(for="pickup") Pickup
        input(id="pickup" name="pickup" type="text")
      .field
        label(for="contact") Contact
        input(id="contact" name="contact" type="text")
      .field
        label(for="description") Description
        input(id="description" name="description" type="text")
      .field
        button.primary(type="submit") List item
