extends base.pug

block append vars
  - var stylesheet='/listing.css'
  - var script='/listing.js'

block main
  .container
    h1.title Post a new message
    img.preview(src="https://via.placeholder.com/150")
    form(action="listing" method="POST" enctype="multipart/form-data")
      .field
        label(for="category") category
        input(id="category" name="category" type="text")
      .field
        label(for="location") location
        input(id="location" name="location" type="text")
      .field
        label(for="pickup") pickup
        input(id="pickup" name="pickup" type="text")
      .field
        label(for="contact") contact
        input(id="contact" name="contact" type="text")
      .field
        label(for="description") description
        textarea(type='text' id="description" name="description" placeholder='Text input')
      .field
        input(type='file' id="file" name="file" accept="image/png, image/jpeg")
      .field
        button(type="submit") Make post
