extends base.pug

block append vars
  - var stylesheet='/register.css'
  - var script='/register.js'

block main
  .container
    h1.title Register
    form(action="register" method="POST")
      .field
        .control
          label.label(for="name") Name
          input.input(type="text" id="name" name="name")
      .field
        .control
          label.label(for="password") Password
          input.input(type="password" id="password" name="password")
      .field
        .control
          button.button.is-primary(type="submit") Register