@import 'https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap'
@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap'

////////////////////////////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////////////////////////////
// Colors
$brand-color: #FE7968
$action-color: #FD685D
$highlight-color: #8CF7FE

$content-background-color: #FFFFFF
$well-background-color: #EEEEEE
$highlight-background-color: lighten($brand-color, 25%)

$outline-color: #CCC
$text-color: #444
$hint-color: #999

$inverse-background-color: #222
$inverse-text-color: #FFFFFF
$inverse-hint-color: rgba($inverse-text-color, 0.7)

// Styles
$brand-font-family: Kalam, sans-serif
$header-font-family: Heebo, sans-serif
$body-font-family: Heebo, sans-serif
$card-border-radius: 0.3rem
$small-font-size: 0.85rem
$tiny-font-size: 0.7rem

// Breakpoints
$xs-max: 400px
$small-min: 401px
$small-max: 650px
$medium-min: 651px
$medium-max: 1000px


////////////////////////////////////////////////////////////////////////////////
// General Styles
////////////////////////////////////////////////////////////////////////////////
*
  box-sizing: border-box

body
  display: flex
  min-height: 100vh
  background-color: $well-background-color
  color: $text-color
  font-family: $body-font-family
  font-size: 16px
  font-weight: 400
  line-height: 1.7
  flex-direction: column
  
h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0
  font-family: $header-font-family
  font-weight: 400
  line-height: 1

input[type=text]
  appearance: none
  border-radius: $card-border-radius
  border-color: $outline-color
  border-style: solid
  border-width: 1px
  padding: 0.5rem 1rem
  color: $text-color
  &::placeholder
    color: $hint-color

select    
  appearance: none
  border-radius: $card-border-radius
  border-color: $outline-color
  border-style: solid
  border-width: 1px
  padding: 0.5rem 1rem
  padding-right: 2em
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E')
  background-repeat: no-repeat, repeat
  background-position: right .7em top 50%, 0 0
  background-size: .65em auto, 100%
  color: $text-color
  &:invalid
    color: $hint-color
  
input[type="checkbox"]
  cursor: pointer

.card 
  overflow: hidden
  border-radius: $card-border-radius
  background-color: $content-background-color

.hidden
  display: none !important

button, .button
  // Layout
  border: none
  display: inline-block
  padding: 0.3rem 0.8rem
  // Text
  color: $text-color
  line-height: 1.7
  text-decoration: none
  // Appearance
  background-color: transparent
  border-radius: $card-border-radius
  cursor: pointer
  outline: 1px solid $outline-color
  &.primary
    outline: none
    background-color: $action-color
    color: $inverse-text-color
  &.hint
    background-color: $content-background-color
    outline: 1px solid $outline-color
  &:hover
    background-color: $highlight-color
  &:active
    background-color: darken($highlight-color, 10%)
  &:disabled
    background-color: $hint-color
    cursor: auto


.field
  display: flex
  flex-direction: column

  label
    display: block
    font-size: $small-font-size
    color: $hint-color
    

.tag
  // Layout
  display: inline-flex
  padding: 0.2rem 0.6rem
  vertical-align: middle
  // Text
  color: $text-color
  font-size: $tiny-font-size
  // Appearance
  background-color: $well-background-color
  border-radius: $card-border-radius
  // Children
  flex-direction: row
  align-items: stretch

  label
    margin-right: 0.4em
    color: $hint-color

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba($content-background-color, 0.9)

////////////////////////////////////////////////////////////////////////////////
// Specific Styles
////////////////////////////////////////////////////////////////////////////////
.hackBanner
  background-color: #FFE3E9
  padding: 1rem 2rem
  text-align: center

.navbar
  // Layout
  border-bottom: 4px solid
  border-color: $brand-color
  display: flex
  height: 3rem
  padding: 0 1rem
  // Appearance
  background-color: $content-background-color
  // Children
  align-items: center
  flex-direction: row
  justify-content: space-between
  
  .site-logo
    display: block
    color: $text-color
    font-family: $brand-font-family
    font-size: 1.5rem
    text-decoration: none
    .free
      color: $brand-color
  
  .site-controls
    a
      margin-left: 1rem
    i
      color: $text-color
      text-decoration: none

main
  display: flex
  flex-grow: 1
  flex-direction: column

.site-footer
  // Layout
  display: flex
  padding: 0.7rem 1rem
  // Text
  font-size: $tiny-font-size
  // Appearance
  background-color: $content-background-color
  overflow: scroll
  // Children
  align-items: center
  flex-direction: row
  justify-content: space-between
  img
    display: block
    height: 1.5rem
  .links a
    margin-left: 1rem
    color: $hint-color
    text-decoration: none
    white-space: nowrap
  
.legal
  
  h1, h2, h3, h4, h5, h6, p  
    font-family: Heebo, sans-serif
    margin-top: 1rem
    margin-bottom: 1rem
