@import base.sass

.hero
  display: flex
  height: 20rem
  background-color: $inverse-background-color
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1609139003551-ee40f5f73ec0")
  background-size: cover
  background-position: center
  color: $inverse-text-color
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

  .title
    font-size: 3rem
    line-height: 1
    margin-bottom: 0.5rem

  .subtitle
    margin-bottom: 1rem

.listings
  display: flex
  background-color: $well-background-color
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  .listing
    @extend .card
    margin: 1rem
    max-width: calc(100%/3 - 2rem)
    background-color: $content-background-color
    cursor: pointer
    img
      width: 100%
      aspect-ratio: 4/3
      object-fit: cover
    footer
      padding: 0.5rem 1rem
      .description
        margin-top: 0
        margin-bottom: 0.5rem
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .meta
        display: flex
        flex-direction: row
        justify-content: space-between
        color: $hint-color
        white-space: nowrap
        .location
          margin-right: 2em
        time
          overflow: hidden
          text-overflow: ellipsis
