@import base.sass

main


    
  form
    display: flex
    padding: 1rem
    flex-direction: row
    align-items: stretch

    .image-field
      position: relative
      display: flex
      margin-right: 1rem
      width: 30rem
      border-radius: $card-border-radius
      overflow: hidden
      background-color: $well-background-color
      color: $inverse-text-color
      flex-direction: column
      justify-content: center
      align-items: center
      i
        margin-bottom: 1rem
        font-size: 7rem
      label[for=file]
        @extend .button
        background-color: $action-color
        color: $inverse-text-color
        cursor: pointer
        &.change
          position: absolute
          bottom: 1rem
          right: 1rem
          background-color: transparentize($inverse-background-color, 0.4)
      input[type=file]
        display: none
      img.preview
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
      

    .fields
      flex-grow: 1
      .field
        display: flex
        margin-bottom: 1rem
        &:last-child
          margin-bottom: 0rem
        flex-direction: column
        &.delivery
          flex-direction: row
        label
          margin-bottom: 0.3rem

        input[type=text], select
          appearance: none
          border-radius: $card-border-radius
          border-color: $outline-color
          border-style: solid
          border-width: 1px
          padding: 0.5rem 1rem
        
        input[type=radio]
          display: none

        input[type=radio]:checked + .button
          background-color: $highlight-color
        
        button
          @extend .button
          
